.fq.fullscreen.abs
  h2 Прості правила
  .banner.w-100
    .top 1 = 1 = 1
    .bottom
      span правильна<br>відповідь 
      span ГОЛ
      span ШАНС
  .ball    
    img(src="img/ball.png")
    .shadow
  .btn#btn-2 Грати
