.lg.fullscreen.abs
  img#logo.abs(src="img/logo.svg" alt="First")
  img#metafan.abs(src="img/metafan.png")
  h2 Реєстрація
    br
    .
      успішна
  span Чекай на інформацію
    br
    .
      про проведення
    br
    .
      розіграшу та підписуйся
    br
    .
      на наші соціальні
    br
    .
      мережі, там багато
    br
    .
      цікавенького. 
  .socials
    a(href="#" target="_blank" id="facebook")
      img(src="img/facebook.svg" alt="facebook")
    a(href="#" target="_blank" id="instagram")
      img(src="img/instagram.svg" alt="instagram")
    a(href="#" target="_blank" id="telegram")
      img(src="img/telegram.svg" alt="telegram")
  img#phones(src="img/phones.png")