.sp.fullscreen.abs
  img#logo.abs(src="/img/logo.svg" alt="First club")
  img.prize.abs.w-100(src="/img/prize.png" alt="prize")
  #info.abs.w-100
    h2 Вигравай<br>iPhone 12 PRO
    span Вiдповiдай на простi запитання та<br>лови шанси від First club, титульного<br>партнера ФК Рух
    .btn#btn-1 Деталі