@mixin mid{
  @media screen and (min-width: 900px) {
    @content;
  }
}

@mixin landscape{
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin lrg{
  @media screen and (min-width: 1900px) {
    @content;
  }
}

@mixin android(){
  @media screen and (max-width: 370px) and (max-height: 600px) {
    @content;
  }
}

// @mixin android(){
//   @media screen and (min-width: 360px) and (min-height: 590px) {
//     @content;
//   }
// }

@mixin iphoneX(){
  @media screen and (min-width: 375px) and (min-height: 800px) {
    @content;
  }
}

@mixin iphoneXS(){
  @media screen and (min-width: 375px) and (min-height: 860px) {
    @content;
  }
}

@mixin iphone(){
  @media screen and (min-width: 375px) and (min-height: 690px) {
    @content;
  }
}

@mixin hCenter() {
  left: 50%;
  transform: translateX(-50%);
}

@mixin vCenter() {
  top: 50%;
  transform: translateY(-50%);
}

@mixin aCenter() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}