@font-face{
  font-family: 'Cera Pro Light';
  src: url(fonts/CeraPro-Light.woff) format('woff')
}

@font-face{
  font-family: 'Cera Pro';
  src: url(fonts/CeraPro-Regular.woff2) format('woff2')
}

@font-face{
  font-family: 'Cera Pro Bold';
  src: url(fonts/CeraPro-Bold.woff2) format('woff2')
}

$yellow: #FBFF01; 
$blue:  #246BFD;
