@import 'default';
@import 'background';
@import 'splash';
@import 'faq';

.wrapper{
  &.--faq{
    .sp{
      display: none;
    }
    .fq{
      display: flex;
    }
  }
  .fq{
    display: none;
  }
}
