@import 'default';
@import 'background';
@import 'splash';
@import 'faq';
@import 'quiz';


.wrapper{
  &.--splash{
    .sp{
      display: block;
    }
  }
  &.--faq{
    .sp, .qz{
      display: none;
    }
    .fq{
      display: flex;
    }
  }
  &.--quiz{
    .sp, .fq{
      display: none;
    }
    .qz{
      display: flex;
    }
  }
  .fq, .qz, .sp{
    display: none;
  }
}

.buffer{
  width: 1px;
  height: 1px;
  overflow: hidden;
  top: -1px;
}
