.qz{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 33px;
  position: relative;
  img{
    &#logo{
      z-index: 2;
      width: 82px;
      top: 18px;
      left: 23px;
    }
  }
  .banner{
    display: flex;
    flex-direction: column;
    width: 322px;
    .timer{
      z-index: 2;
      align-self: flex-end;
      display: flex;
      align-items: center;
      margin-bottom: -8px;
      margin-right: 13px;
      .left{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 20px;
        font-family: 'Cera Pro Bold';
        margin-right: 12px;
        .questions{
          margin-top: -7px;
          display: flex;
          justify-content: flex-end;
        }
      }
      .loader{
        $radius: 80px;
        position: relative;
        width: $radius;
        height: $radius;
        svg{
          @include aCenter;
          width: $radius;
          height: $radius;
          &#progress {
            transform: translate(-50%, -50%) rotateY(180deg) rotateZ(-90deg);
            circle{
              stroke-width: 8px;
              stroke: #73B900;
              stroke-dasharray: 200;
              stroke-dashoffset: 0;
            }
          }
          circle{
            transform: translate(8px, 8px);
            width: 100%;
            height: 100%;
            fill: none;
            stroke-width: 10px;
            stroke: white;
            stroke-linecap: round;
          }
        }
        .sec{
          @include aCenter;
          width: $radius;
          height: $radius;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: -3px;
          span{
            font-size: 9.89091px;
            &:last-child{
              margin-top: -6px;
            }
            &#sec{
              font-size: 23.9416px;
            }
          }
        }
      }
    }
    .task{
      z-index: 2;
      width: 100%;
      height: 92px;
      background-position: center top;
      background-image: url(/img/sprite_questions.png);
      display: flex;
      text-align: center;
      align-items: center;
      font-size: 21px;
      line-height: 22px;
      color: $yellow;
      padding: 0 30px;
    }
    .metafan{
      z-index: 1;
      width: 100%;
      left: 0;
      top: 88px;
      transform: translateY(-77px);
      opacity: 0;
    }
  }  
  .game-zone{
    width: 100%;
    bottom: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .game{
      height: 360px;
      margin-bottom: -43px;
      position: relative;
      .goalkeeper{
        width: 186px;
        height: 300px;        
        @include hCenter;
        transform: translateX(-50%) scale(0.7);
        perspective: 1000px;
        transform-style: preserve-3d;
        top: -18px;
        .picture{
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: left center;
          background-size: contain;
          background-image: url(/img/sprite_goalkeeper_stands.png);
          animation: g-stands 2s ease-in-out infinite alternate;
        }
      }
      .shadow{
        background: radial-gradient(50% 50% at 50% 50%,#3F3F3F 0,rgba(196,196,196,0) 100%);
        mix-blend-mode: multiply;
        position: absolute;
        width: 100px;
        height: 30px;
        bottom: 5px;
        left: 50%;
        transform: translateX(-40%);
        z-index: 1;
      }
      img{
        &.gates{
          width: 368px;
        }
        &.ball, &.ball-clear{
          width: 85px;
          bottom: 17px;
          @include hCenter;
          z-index: 2;
        }
        &.ball-clear{
          display: none;
        }
      }
    }
    .quiz{
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      &-result{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 29.4677px;
        text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.46);
        height: 38px;
        img{
          width: 24px;
          height: 24px;
          margin-left: 10px;
        }
      }
      &-item{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 59px;
        width: 100%;
        background-size: 1 59px;
        background-position: center top;
        background-repeat: no-repeat;
        background-image: url(/img/sprite_quiz.png);
        span{
          display: inline-block;
          width: 263px;
          font-size: 29.4677px;
          color: $yellow;
        }
        &.--correct{
          background-position-y: -59px * 2;
          span{
            color: $blue;
          }
        }
        &.--incorrect{
          background-position-y: -59px;
          span{
            color: white;
          }
        }
      }
    }
  }
  .done{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(#222232, .95);
    align-items: center;
    padding: 55px 0 33px;
    transition: visibility 0s .25s linear, opacity .2s linear;
    img{
      &#metafan{
        width: 100%;
        top: -152px;
      }
      &#phones{
        margin-top: auto;
        margin-bottom: 36px;
      }
    }
    h2{
      color: $yellow;
      font-family: 'Cera Pro Bold';
      font-size: 38px;
      line-height: 40px;
      text-align: center;
      margin-top: 176px;
    }
    span{
      margin-top: 18px;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
    }
    .btn{
      &#btn-2{
        background-position-y: -59px;
        color: $blue;
        margin-bottom: 5px;
      }
    }
  }
  &.--quiz-time{
    .banner{
      .loader{
        svg{
          &#progress{
            circle{
              animation: flow 30s linear forwards;
            }
          }
        }
      }
    }
    &.--paused{
      .banner{
        .loader{
          svg{
            &#progress{
              circle{
                animation-play-state: paused;
              }
            }
          }
        }
      }  
    }
    $pos: up-left, up-right, down-left, down-right;
    &.--correct,  &.--incorrect{
      .game{
        img{
          &.ball{
            display: none;
          }
        }
        .goalkeeper{
          width: 329px;
          height: 339px;       
          @include hCenter;
          perspective: none;
          transform-style: flat;
          top: -18px;
          transition-property: width, height;
          transition-duration: 0s;
          transition-delay: .5s;
          transform: translateX(-50%) scale(0.7);
          .picture{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: left center;
            background-image: url(/img/sprite_goalkeeper_flys.png);
            transition-property: background-image;
            transition-duration: 0s;
            transition-delay: .5s;
            animation:none;
          }
        }
        .shadow{
          display: none;
        }
      }
      
      &.--down-left, &.--down-right{
        .game{
          .goalkeeper{
            .picture{
              background-image: url(/img/sprite_goalkeeper_felt.png);
            }
          }
        }
      }
    } 
    &.--correct{
      .banner{
        img{
          &.metafan{
            animation: metafan 2s 1.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
          }
        }
      }
      @each $p in $pos {
        &.--#{$p}{
          .game{
            img{
              &.ball-clear{
                display: block;
                animation: $p 2s ease-out forwards;
              }
            }
          }
          .game{              
            .goalkeeper{
              animation: correct-#{$p} 1.5s .5s ease-out forwards;
            }
          }
        }  
      }
    }

    &.--incorrect{
      $pos: up-left, up-right;
      $pos-down: down-left, down-right;
      @each $p in $pos {
        &.--#{$p}{
          .game{
            img{
              &.ball-clear{
                display: block;
                animation: $p 2s ease-out forwards;
              }
            }
          }
          .game{              
            .goalkeeper{
              animation: incorrect-#{$p} 1.5s .5s ease-out forwards;
            }
          }
        }  
      }
      @each $p in $pos-down {
        &.--#{$p}{
          .game{
            img{
              &.ball-clear{
                display: block;
                animation: incorrect-#{$p} 2s ease-out forwards;
              }
            }
          }
          .game{              
            .goalkeeper{
              animation: correct-#{$p} 1.5s .5s ease-out forwards;
            }
          }
        }  
      }
    }
  }
  &.--again, &.--done{
    img{
      &#logo{
        position: relative;
        left: unset;
        width: 216px;
        top: 53px;
      }
    }
    .banner{
      opacity: 0;
      visibility: hidden;
      transition: visibility 0s .25s linear, opacity .2s linear;
    }
    .game-zone{
      .game{
        .goalkeeper, .shadow{
          opacity: 0;
          visibility: hidden;
          transition: visibility 0s .25s linear, opacity .2s linear;
        }
        img{
          &.ball, &.ball-clear{
            opacity: 0;
            visibility: hidden;
            transition: visibility 0s .25s linear, opacity .2s linear;
          }
        }
      }
      .quiz{
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s .25s linear, opacity .2s linear;
      }
    }
    .done{
      transition: visibility 0s linear, opacity .2s linear;
    }
  }
  &.--again{
    .done{
      &:not(.final){
        opacity: 1;
        visibility: visible; 
      }
    }
  }
  &.--done{
    .done{
      &.final{
        opacity: 1;
        visibility: visible;
        form{
          margin-top: auto;
        }
      }
    }
  }
}

@keyframes flow {
  0%{
    stroke: #73B900;
    stroke-dashoffset: 0;
  }
  50%{
    stroke: #EE9D00;
    stroke-dashoffset: 100;
  }  
  75%{
    stroke: #FF002E;
    stroke-dashoffset: 150;
  }
  99%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    stroke-dashoffset: 200;
    stroke: #FF002E;
  }
}

@keyframes metafan {
    0%{
      opacity: 0;
      transform: translateY(-77px);
    }
    30%{
      opacity: .5;
    }
    60%{
      opacity: 1;
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes g-stands {
  0%{
    transform: rotateY(-15deg);
  }
  100%{
    transform: rotateY(15deg);
  }
}

@keyframes up-left {
  0%{
    transform: translateX(-50%) rotate(0deg) scale(1);
  }
  100%{
    transform: translate(-176px, -265px) rotate(2350deg) scale(.3);
  }
}

@keyframes correct-up-left {
  0%{
    transform: translate(-50%) rotateY(180deg) scale(.7)
  }
  100%{
    transform: translate(-69%, -12%) rotateY(180deg) scale(.6)
  }
}

@keyframes incorrect-up-left {
  0%{
    transform: translate(-50%) rotateY(180deg) scale(.7)
  }
  100%{
    transform: translate(-73%, -21%) rotateY(180deg) scale(.6)
  }
}

@keyframes up-right {
  0%{
    transform: translateX(-50%) rotate(0deg) scale(1);
  }
  100%{
    transform: translate(96px, -265px) rotate(2350deg) scale(.3);
  }
}

@keyframes correct-up-right {
  0%{
    transform: translate(-50%) scale(.7)
  }
  100%{
    transform: translate(-28%, -12%) scale(.6)
  }
}

@keyframes incorrect-up-right {
  0%{
    transform: translate(-50%) scale(.7)
  }
  100%{
    transform: translate(-26%, -20%) scale(.6)
  }
}

@keyframes down-left {
  0%{
    transform: translateX(-50%) rotate(0deg) scale(1);
  }
  100%{
    transform: translate(-185px, -203px) rotate(2350deg) scale(.3);
  }
}

@keyframes correct-down-left {
  0%{
    transform: translate(-50%) rotateY(180deg) scale(.7)
  }
  100%{
    transform: translate(-67%, -6%) rotateY(180deg) scale(.6)
  }
}

@keyframes incorrect-down-left {
  0%{
    transform: translateX(-50%) rotate(0deg) scale(1);
  }
  100%{
    transform: translate(-180px, -163px) rotate(2350deg) scale(.3);
  }
}

@keyframes down-right {
  0%{
    transform: translateX(-50%) rotate(0deg) scale(1);
  }
  100%{
    transform: translate(96px, -191px) rotate(2350deg) scale(.3);
  }
}

@keyframes correct-down-right {
  0%{
    transform: translate(-50%) scale(.7)
  }
  100%{
    transform: translate(-34%, -5%) scale(.6)
  }
}

@keyframes incorrect-down-right {
  0%{
    transform: translateX(-50%) rotate(0deg) scale(1);
  }
  100%{
    transform: translate(91px, -159px) rotate(2350deg) scale(.3);
  }
}
