doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title First Quiz
    link(rel="stylesheet", href="css/main.css")
    script(src="js/main.js") 
  body
    .wrapper.fullscreen
      //= templates/background.pug
      //= templates/gradient.pug
      //= templates/splash.pug
      //= templates/faq.pug
      //= templates/quiz.pug
    .buffer.abs