doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="etc/swiffy-slider.js?v=1" defer)
    script(src="etc/swiffy-slider-extensions.js?v=1" defer)
    script(src="js/script.js?v=1")
    link(rel="stylesheet", href="css/main.css?v=4")
    link(rel="stylesheet", href="etc/swiffy-slider.css?v=1")
    link(rel="canonical", href="https://firstua.com.ua")
    link(rel="icon" href="img/favicon.svg" type="image/svg+xml")
    title First Рекорди
  body
    main
      //= templates/menu.pug
      //= templates/home.pug
      //= templates/mission.pug
      //= templates/records.pug
      //= templates/form.pug
      //= templates/first.pug
      //= templates/footer.pug
